 /* CSS written entirely by Ben Carroll */
@font-face {
    font-family: 'Six Caps';
    src: url(SixCaps.ttf) format("truetype");
}

@font-face {
    font-family: 'SiL';
    src: url(SiL.ttf) format("truetype");
}
* {
    font-family: 'Six Caps';
    margin: 0 auto;
    text-align: center;
}
body {
    background-color: orange;
}
html {
  cursor: url('animated.gif'),url('cursor.png');
}

.SiLfont {
  font-family: 'SiL';
  font-size: 80%;
}
.colourzone {
    display:inline-block;
    width:100%;
    height:25%;
  }
#colour1 {
  background-color: red;
}
#colour2 {
  background-color: green;
}
#colour3 {
  background-color: yellow;
}
#colour4 {
  background-color: blue;
}

#middle {
    position: fixed;
    color: red;
    border: 8px ridge brown;
    padding: 10px;
    background-color: lightgrey;
}
.top {
  top:10px;
  width:20%;
  left:40%;
  background-color: yellow;
}
.bottom {
  bottom:10px;
  width:20%;
  left:40%;
  background-color: yellow;
}
#credit, #footerL, #losses, #score, #timerDisplayField {
  font-family: 'SiL';
  font-size: 20px;
}

#footerL, #credit {
background-color: rgba(255,255,255,0);
border: 0px rgba(255,255,255,0);
color: white;
letter-spacing: 1px;
text-align: center;
  text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;

}
#loseTitle {
  display:none;
  padding: 60px;
  font-size: 100px;
  color:darkblue;
}

.normFont {
  font-family: Arial;
}
