/* Minified version of CSS written entirely by Ben Carroll */
@font-face {
    font-family: 'Six Caps';
    src: url(SixCaps.ttf) format("truetype");
}

@font-face {
    font-family: 'SiL';
    src: url(SiL.ttf) format("truetype");
}

html {
  cursor: url('cursor.png'), url('cursor.iso');
}

#content,* {
    font-family: 'Six Caps';
    margin-top:0 auto;
    margin-left:0 auto;
    margin-right:0 auto;
    margin-bottom:0 auto;
    margin: 0 auto;
    text-align: center;
}

#wtcc {
  color:#ff8c00;
}
/*.tut {
  display:none;
  font-size: 45px;
  color:#ff8c00;
}
*/
#wtcc.activateLargeText,#herotext, .tut {
    text-shadow: 3px 3px 4px #a52a2a;
}

body {
    background-color: #000;
}

.SiLfont {
  font-family: 'SiL';
  font-size: 80%;
  font-weight: bold;
}

#wtcc,#header,#herotext,#tutLarge {
    transition: 1s;
}

#wtcc.activateLargeText {
    color: #ff8c00;
    font-size: 230px;
}

.larger {
  font-size: larger;
}
.largest {
  font-size: 40px;
}

#content {
    width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
}

a {
    text-decoration: none;
    color: #8b0000;
}

#herotext {
    color: #00f;
    font-size: 80px;
    text-align: center;
}

/*#startButton {
  height:auto;
  background-color: blue;
  opacity: .5;
  margin: 0 auto;
}*/
#userName, #highScore {
  font-family: 'SiL';
}
#credit {
    position: fixed;
    bottom: 10px;
    color: red;
    font-size: 20px;
    font-family: 'SiL';
    right: 10px;
}
